<div class="editor-header">
  <h2>Scanning Session</h2>

  <div class="session-badge-container">
    <span class="badge clickable" (click)="copyUrlToClipboard()">
      {{ sessionId() }}
    </span>
  </div>

  <span class="filler"></span>

  @if (exportService.exportState()) {
    <button
      class="btn-secondary {{ exportService.exportState()!.cssClass }}"
      [disabled]="!exportService.exportState()!.isClickable"
      [class.clickable]="exportService.exportState()!.isClickable"
      (click)="exportService.exportState()!.isClickable ? exportService.download(sessionId()) : null"
    >
      @if (exportService.exportState()!.showSpinner) {
        <span class="spinner"></span>
      } @else {
        <span class="icon">{{ exportService.exportState()!.icon }}</span>
      }
      <span class="text">{{ exportService.exportState()!.text }}</span>
      @if (exportService.exportInvalidated()) { <span>(outdated)</span> }
    </button>
  }

  <button
    class="btn-primary"
    [disabled]="exportService.isProcessing()"
    (click)="openExport.emit()"
  >
    <span>📥</span> Export
  </button>

  <button class="btn-primary" (click)="openManualIsbn.emit()">
    <span>➕</span> Enter ISBN manually <span class="keyboard-shortcut">Ctrl</span><span style="font-weight: 400;">+</span><span class="keyboard-shortcut">Space</span>
  </button>
</div>
