<app-editor-header
  [sessionId]="sessionId()"
  (openExport)="isExportModalOpen.set(true)"
  (openManualIsbn)="isManualIsbnModalOpen.set(true)"
/>

<app-draft-books-table
  [draftBooks]="draftBooksToShow()"
  (retry)="retryFetch($event)"
  (delete)="deleteDraftBook($event)"
  (edit)="editingDraftBook.set($event)"
/>

@if (isExportModalOpen()) {
  <app-export-modal
    [sessionId]="sessionId()"
    (closed)="isExportModalOpen.set(false)"
  />
}

@if (isManualIsbnModalOpen()) {
  <app-manual-isbn-modal
    (isbnSubmitted)="addManualIsbn($event)"
    (closed)="isManualIsbnModalOpen.set(false)"
  />
}

@if (editingDraftBook(); as draftBookToEdit) {
  <app-edit-draft-book-form-dialog
    [draftBook]="draftBookToEdit"
    (saved)="handleUpdateDraftBook($event)"
    (closed)="editingDraftBook.set(null)"
  />
}
