.editor-header {
  max-width: 1900px;
  margin: 1.5rem auto 0 auto;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.session-badge-container {
  display: flex;
  align-items: center;
  gap: 4px;

  .badge {
    font-size: 1.3rem;
  }
}
