<app-editor-header
  [sessionId]="sessionId()"
  (openExport)="isExportModalOpen.set(true)"
  (openManualIsbn)="isManualIsbnModalOpen.set(true)"
/>

<app-scan-table
  [scans]="scans()"
  [scansToDelete]="scansToDelete()"
  (retry)="retryScan($event)"
  (delete)="deleteScan($event)"
  (cancelDelete)="cancelDelete($event)"
  (edit)="editingScan.set($event)"
/>

@if (isExportModalOpen()) {
  <app-export-modal
    [sessionId]="sessionId()"
    (closed)="isExportModalOpen.set(false)"
  />
}

@if (isManualIsbnModalOpen()) {
  <app-manual-isbn-modal
    (isbnSubmitted)="addManualIsbn($event)"
    (closed)="isManualIsbnModalOpen.set(false)"
  />
}

@if (editingScan(); as scanToEdit) {
  <app-edit-scan-form-dialog
    [scan]="scanToEdit"
    (saved)="handleUpdateScan($event)"
    (closed)="editingScan.set(null)"
  />
}
