<div class="entry-container">
  <div class="cards-wrapper">

    <div class="action-card">
      <h2>Start</h2>
      <p>Start cataloging session to collect data.</p>

      <button class="btn-scan" (click)="startSession()">
        Start cataloging session
      </button>
    </div>

    <div class="divider">
      <span>OR</span>
    </div>

    <div class="action-card code-card">
      <div class="card-icon">💻</div>
      <h2>Podłącz pulpit</h2>
      <p>Wprowadź 6-znakowy kod z aplikacji na telefonie, aby podglądać sesję.</p>

      <div class="inputs-container">
        @for (digit of shareCodeDigits(); track $index) {
          <input
            #codeInput
            type="text"
            inputmode="text"
            maxlength="1"
            [value]="digit"
            (input)="onInput($event, $index)"
            (keydown)="onKeyDown($event, $index)"
            (paste)="onPaste($event)"
            class="code-input"
            placeholder="-"
          />
        }
      </div>

    </div>

  </div>
</div>
